# OMNeT++ / build output
out/
**/out/

*.o
*.d
*.oppstate

# executables
*_dbg

# IDE / Eclipse / OMNeT++
.metadata/
.settings/
.cproject
.project
.nedexclusions
.oppbuildspec

# simulation temporary files
simulations/results/
simulations/.qtenvrc

# OS files
.DS_Store
Thumbs.db