# OMNeT++ / build output
out/
**/out/

*.o
*.d
*.oppstate

# executables
*_dbg

# IDE / Eclipse / OMNeT++
.metadata/
omnet_tictoc/.settings/language.settings.xml

# simulation temporary files
simulations/results/
simulations/.qtenvrc

# OS files
.DS_Store
Thumbs.db